#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.modalImgCapture {
  text-align: left;
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 12px;
  padding: 0;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
